.header {
  padding-top: 10px;
  padding-bottom: 10px;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
}

.header hr {
  /* padding-top: 10px; */
  margin-top: 15px;
  border: 1px solid rgb(231, 231, 231);
}

.header img {
  width: 250px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
  }

  .header img {
    width: 180px;
  }

  .header hr {
    margin-top: 8px;
    width: 100vh;
  }
} ;
