/* .aap-container {
  justify-content: center;
  text-align: center;
  align-items: center;
} */

.aap-container .filters {
  padding: 20px;
}

.data_table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* border: 1.5px gray; */
  /* border-style: ridge; */
  box-shadow: 4px 5px 18px #888888;
  border-radius: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  /* table-layout: auto; */
  font-size: 14px;
}

td,
th,
tr {
  padding: 8px;
}

table thead tr {
  background-color: rgb(231, 231, 231);
}

th {
  font-weight: normal;
}

tbody {
  width: 1103.3px;
  height: 60vh;
}
tbody tr {
  height: calc((100% / 12));
}

.paginationBttns {
  width: 82.2%;
  height: 40px;
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: end;
}

.paginationBttns a {
  padding: 10px;
  margin: 1px;
  border-radius: 2px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: black;
  border: 2px solid black;
}

.paginationActive a {
  color: black;
  border: 2px solid black;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
