td {
  text-align: center;
  padding: 0.7%;
  background-color: white;
  cursor: pointer;
}

tr {
  display: flex;
}
.Data_Display {
  display: flex;
  align-items: center;
}
.HeaderCard {
  display: flex;
  align-items: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.Loader {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.Location,
.Mission {
  text-align: left;
}
.Paginate {
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
.Filters {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 15%;
  margin-left: 15%;
}
.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ebebe0;
}
.pageNumber {
  color: black;
}
.forwardPage {
  color: black;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #ebebe0;
}
.Head {
  margin-top: 70px;
}
