.aap-container {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.aap-container .filters {
  padding: 20px;
}

.aap-container .filters .datefilter button {
  border-style: none;
  cursor: pointer;
}

.filters {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.filters .datefilter .fltrName {
  font-size: 13px;
}
.data_table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  box-shadow: 4px 5px 18px #888888;
  border-radius: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

td,
th,
tr {
  padding: 8px;
}

table thead tr {
  background-color: rgb(231, 231, 231);
}

th {
  font-weight: normal;
}

tbody {
  width: 1103.3px;
  height: 60vh;
}
tbody tr {
  height: calc((100% / 12));
}
.noDataDisplay {
  position: fixed;
  width: 33%;
  margin-left: 25.4vw;
  margin-top: 5.5vh;
}

.paginationBttns {
  width: 82.2%;
  height: 40px;
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: end;
}

.paginationBttns a {
  padding: 10px;
  margin: 1px;
  border-radius: 2px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: black;
  border: 2px solid black;
}

.paginationActive a {
  color: black;
  border: 2px solid black;
}

.data_table tbody .loading {
  position: fixed;
  width: 80%;
  padding-top: 20vh;
}

.data_table tbody .loading .ringLoader {
  size: 90px;
}

@media (max-width: 480px) {
  .aap-container .filters {
    padding: 10px;
  }
  .filters .datefilter .fltrName {
    font-size: 11px;
  }
  .data_table table {
    font-size: 8px;
  }
  .noDataDisplay {
    width: 33%;
    margin-left: 21.5vw;
    margin-top: 5.5vh;
  }

  .aap-container .filters .dropdown select {
    font-size: 10px;
  }

  .paginationBttns {
    width: 75%;
  }

  .paginationBttns a {
    padding: 5px;
    font-size: 11px;
  }

  .data_table tbody .loading {
    width: 65%;
    padding-top: 23vh;
  }

  .data_table tbody .loading .css-pslo93 {
    width: 40px;
    height: 40px;
  }
  .data_table tbody .loading .css-1ogdjpk {
    width: 40px;
    height: 40px;
  }
}
