.modalBack {
  /* width: 100vw;
  height: ; */
  background-color: rgba(200, 200, 200);
  /* position: fixed; */
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 31vw;
  padding-top: 10vh;
  /* opacity: 0.6; */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity *
  /* width: 30%; */
  /* margin-left: 25vw;
  margin-top: 19vh; */
  /* z-index: -1;
  width: 100vw;
  height: 100vh; */
}

.modalbody {
  /* width: 47%;
  margin-left: 25.4vw;
  margin-top: 31.5vh; */
  width: 40vw;
  height: 81vh;
  /* opacity: 100; */
  /* background-color: rgb(230, 230, 230); */
  background-color: white;
  border-radius: 10px;
}
.modalbody .closebutton {
  display: block;
  text-align: end;
  padding-right: 5px;
  padding-top: 5px;
}
.modalbody .closebutton :hover {
  background-color: red;
  color: white;
}

.modalbody .headerdata {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.modalbody .headerdata div {
  padding-right: 10px;
}

.modalbody .headerdata .headernames {
  text-align: left;
}
.modalbody p {
  text-align: justify;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modalbody p a {
  text-decoration: none;
}

.modalbody .headerdata .links {
  justify-content: space-between;
}

.tabledata table {
  box-shadow: none !important;
  text-align: left;
}

@media (max-width: 480px) {
  .modalBack {
    padding-left: 21vw;
    padding-top: 16vh;
  }
  .modalbody {
    width: 55vw;
    height: 77vh;
  }
  .modalbody .closebutton :hover {
    background-color: red;
    color: white;
  }
}
