.success {
  background-color: rgb(214, 255, 181);
  color: rgb(42, 139, 42);
  border-radius: 12px;
  padding: 5px;
  font-size: 14px;
  /*border: 0px; */
  font-weight: 600;
}
.failed {
  background-color: rgb(255, 202, 202);
  color: rgb(255, 77, 77);
  border-radius: 12px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  /*border: 0px; */
}
.upcoming {
  background-color: rgb(255, 190, 190);
  color: rgb(168, 59, 59);
  border-radius: 12px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  /*border: 0px; */
}
td button {
  border-style: none;
  background-color: white;
  cursor: pointer;
}
